
.Cartoons{
    /* padding-top:50px; */
    padding-left: 5px;
    padding-bottom: 30px;
    width:33%;
    display: inline-block;
    margin:auto;
    background-color: aliceblue;
  }
  
.Cartoons>p{
    font-size:2rem;
}  

.Cartoons>img{
  width:200px;
  height:300px;
  
}

.Cartoons>img:hover{
transform:scale(1.2);

}
