
.Cartoons{
    /* padding-top:50px; */
    padding-left: 5px;
    padding-bottom: 30px;
    width:33%;
    display: inline-block;
    margin:auto;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
  
.Cartoons>p{
    font-size:2rem;
}  



.Cartoons>img:hover{
transform:scale(1.2);

}
